build/
corepy/arch/x86_64/platform/linux/_x86_64_exec*.so
corepy/arch/x86_64/platform/linux/x86_64_exec.py
corepy/arch/x86_64/platform/linux/x86_64_exec_wrap.c
corepy/lib/extarray/*.so
examples/x86_64_test/x86_64_test
examples/x86_64_test/x86_64_test.s
